# Pandas DataFrame

In [1]:
import numpy as np
import pandas as pd

## Creating DataFrame

In [4]:
# using lists  -> 2D list
df_list = [
    ["harsh",83,"pass"],
    ["adi",30,"fail"],
    ["matoshree",70,"pass"],
    ["luv",28,"fail"],
    ["harsh",83,"pass"]]

# df_list = pd.DataFrame(df_list,columns=["Name","Percentage","Result"])
df_list = pd.DataFrame(df_list)

df_list

           0   1     2
0      harsh  83  pass
1        adi  30  fail
2  matoshree  70  pass
3        luv  28  fail
4      harsh  83  pass

In [9]:
df_list = [
    ["harsh",83,"pass"],
    ["adi",30,"fail"],
    ["matoshree",70,"pass"],
    ["luv",28,"fail"],
    ["harsh",83,"pass"]]

df_list = pd.DataFrame(df_list,columns=["Name","Marks","Result"])
df_list.set_index("Name",inplace=True)
df_list

           Marks Result
Name
harsh         83   pass
adi           30   fail
matoshree     70   pass
luv           28   fail
harsh         83   pass

In [10]:
# using dicts
df_dict = {
    "iq" : [102,90,150],
    "marks" : [80,75,95],
    "package" : [10,9,15]
}
df_d = pd.DataFrame(df_dict)
df_d

    iq  marks  package
0  102     80       10
1   90     75        9
2  150     95       15

In [11]:
# using read_csv
movie = pd.read_csv("movies.csv")
movie.head()

,title_x,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date
0,Uri: The Surgical Strike,tt8291224,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Uri:_The_Surgica...,Uri: The Surgical Strike,Uri: The Surgical Strike,0,2019,138,Action|Drama|War,8.4,35112,Divided over five chapters the film chronicle...,Indian army special forces execute a covert op...,NaN,Vicky Kaushal|Paresh Rawal|Mohit Raina|Yami Ga...,4 wins,11 January 2019 (USA)
1,Battalion 609,tt9472208,NaN,https://en.wikipedia.org/wiki/Battalion_609,Battalion 609,Battalion 609,0,2019,131,War,4.1,73,The story revolves around a cricket match betw...,The story of Battalion 609 revolves around a c...,NaN,Vicky Ahuja|Shoaib Ibrahim|Shrikant Kamat|Elen...,NaN,11 January 2019 (India)
2,The Accidental Prime Minister (film),tt6986710,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/The_Accidental_P...,The Accidental Prime Minister,The Accidental Prime Minister,0,2019,112,Biography|Drama,6.1,5549,Based on the memoir by Indian policy analyst S...,Explores Manmohan Singh's tenure as the Prime ...,NaN,Anupam Kher|Akshaye Khanna|Aahana Kumra|Atul S...,NaN,11 January 2019 (USA)
3,Why Cheat India,tt8108208,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Why_Cheat_India,Why Cheat India,Why Cheat India,0,2019,121,Crime|Drama,6.0,1891,The movie focuses on existing malpractices in ...,The movie focuses on existing malpractices in ...,NaN,Emraan Hashmi|Shreya Dhanwanthary|Snighdadeep ...,NaN,18 January 2019 (USA)
4,Evening Shadows,tt6028796,NaN,https://en.wikipedia.org/wiki/Evening_Shadows,Evening Shadows,Evening Shadows,0,2018,102,Drama,7.3,280,While gay rights and marriage equality has bee...,Under the 'Evening Shadows' truth often plays...,NaN,Mona Ambegaonkar|Ananth Narayan Mahadevan|Deva...,17 wins & 1 nomination,11 January 2019 (India)

In [13]:
ipl = pd.read_csv("ipl-matches.csv")
ipl.head(3)

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,N,Royal Challengers Bangalore,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough

## DataFrame Attributes and Methods

In [14]:
# shape
print(movie.shape)
print(ipl.shape)

(1629, 18)
(950, 20)

In [15]:
# dtypes
movie.dtypes

title_x              object
imdb_id              object
poster_path          object
wiki_link            object
title_y              object
original_title       object
is_adult              int64
year_of_release       int64
runtime              object
genres               object
imdb_rating         float64
imdb_votes            int64
story                object
summary              object
tagline              object
actors               object
wins_nominations     object
release_date         object
dtype: object

In [16]:
# index
movie.index

RangeIndex(start=0, stop=1629, step=1)

In [20]:
# columns
print(movie.columns)
print(ipl.columns)

Index(['title_x', 'imdb_id', 'poster_path', 'wiki_link', 'title_y',
       'original_title', 'is_adult', 'year_of_release', 'runtime', 'genres',
       'imdb_rating', 'imdb_votes', 'story', 'summary', 'tagline', 'actors',
       'wins_nominations', 'release_date'],
      dtype='object')
Index(['ID', 'City', 'Date', 'Season', 'MatchNumber', 'Team1', 'Team2',
       'Venue', 'TossWinner', 'TossDecision', 'SuperOver', 'WinningTeam',
       'WonBy', 'Margin', 'method', 'Player_of_Match', 'Team1Players',
       'Team2Players', 'Umpire1', 'Umpire2'],
      dtype='object')

In [29]:
# values
ipl.values

array([[1312200, 'Ahmedabad', '2022-05-29', ...,
        "['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pandya', 'DA Miller', 'R Tewatia', 'Rashid Khan', 'R Sai Kishore', 'LH Ferguson', 'Yash Dayal', 'Mohammed Shami']",
        'CB Gaffaney', 'Nitin Menon'],
       [1312199, 'Ahmedabad', '2022-05-27', ...,
        "['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D Padikkal', 'SO Hetmyer', 'R Parag', 'R Ashwin', 'TA Boult', 'YS Chahal', 'M Prasidh Krishna', 'OC McCoy']",
        'CB Gaffaney', 'Nitin Menon'],
       [1312198, 'Kolkata', '2022-05-25', ...,
        "['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda', 'MP Stoinis', 'E Lewis', 'KH Pandya', 'PVD Chameera', 'Mohsin Khan', 'Avesh Khan', 'Ravi Bishnoi']",
        'J Madanagopal', 'MA Gough'],
       ...,
       [335984, 'Delhi', '2008-04-19', ...,
        "['T Kohli', 'YK Pathan', 'SR Watson', 'M Kaif', 'DS Lehmann', 'RA Jadeja', 'M Rawat', 'D Salunkhe', 'SK Warne', 'SK Trivedi', 'MM Patel']",
        'Aleem Dar', 'GA Pratapkumar'],
       [335983, 'Chandigarh', '2008-04-19', ...,
        "['PA Patel', 'ML Hayden', 'MEK Hussey', 'MS Dhoni', 'SK Raina', 'JDP Oram', 'S Badrinath', 'Joginder Sharma', 'P Amarnath', 'MS Gony', 'M Muralitharan']",
        'MR Benson', 'SL Shastri'],
       [335982, 'Bangalore', '2008-04-18', ...,
        "['SC Ganguly', 'BB McCullum', 'RT Ponting', 'DJ Hussey', 'Mohammad Hafeez', 'LR Shukla', 'WP Saha', 'AB Agarkar', 'AB Dinda', 'M Kartik', 'I Sharma']",
        'Asad Rauf', 'RE Koertzen']], shape=(950, 20), dtype=object)

In [21]:
# head and tail
ipl.head(2)
ipl.tail(2)

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
948,335983,Chandigarh,2008-04-19,2007/08,2,Kings XI Punjab,Chennai Super Kings,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,bat,N,Chennai Super Kings,Runs,33.0,NaN,MEK Hussey,"['K Goel', 'JR Hopes', 'KC Sangakkara', 'Yuvra...","['PA Patel', 'ML Hayden', 'MEK Hussey', 'MS Dh...",MR Benson,SL Shastri
949,335982,Bangalore,2008-04-18,2007/08,1,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,N,Kolkata Knight Riders,Runs,140.0,NaN,BB McCullum,"['R Dravid', 'W Jaffer', 'V Kohli', 'JH Kallis...","['SC Ganguly', 'BB McCullum', 'RT Ponting', 'D...",Asad Rauf,RE Koertzen

In [23]:
# sample
ipl.sample(2)

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
107,1254084,Delhi,2021-05-01,2021,27,Chennai Super Kings,Mumbai Indians,"Arun Jaitley Stadium, Delhi",Mumbai Indians,field,N,Mumbai Indians,Wickets,4.0,NaN,KA Pollard,"['RD Gaikwad', 'F du Plessis', 'MM Ali', 'SK R...","['Q de Kock', 'RG Sharma', 'SA Yadav', 'KH Pan...",KN Ananthapadmanabhan,CK Nandan
745,501229,Kochi,2011-04-27,2011,32,Kochi Tuskers Kerala,Deccan Chargers,Nehru Stadium,Kochi Tuskers Kerala,field,N,Deccan Chargers,Runs,55.0,NaN,I Sharma,"['BB McCullum', 'DPMD Jayawardene', 'PA Patel'...","['S Sohal', 'S Dhawan', 'B Chipli', 'KC Sangak...",HDPK Dharmasena,AL Hill

In [25]:
# info
movie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1629 entries, 0 to 1628
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   title_x           1629 non-null   object
 1   imdb_id           1629 non-null   object
 2   poster_path       1526 non-null   object
 3   wiki_link         1629 non-null   object
 4   title_y           1629 non-null   object
 5   original_title    1629 non-null   object
 6   is_adult          1629 non-null   int64
 7   year_of_release   1629 non-null   int64
 8   runtime           1629 non-null   object
 9   genres            1629 non-null   object
 10  imdb_rating       1629 non-null   float64
 11  imdb_votes        1629 non-null   int64
 12  story             1609 non-null   object
 13  summary           1629 non-null   object
 14  tagline           557 non-null    object
 15  actors            1624 non-null   object
 16  wins_nominations  707 non-null    object
 17  release_date      1522 non-null   object
dtypes: float64(1), int64(3), object(14)
memory usage: 229.2+ KB

In [38]:
# describe
movie.describe()

       is_adult  year_of_release  imdb_rating     imdb_votes
count    1629.0      1629.000000  1629.000000    1629.000000
mean        0.0      2010.263966     5.557459    5384.263352
std         0.0         5.381542     1.567609   14552.103231
min         0.0      2001.000000     0.000000       0.000000
25%         0.0      2005.000000     4.400000     233.000000
50%         0.0      2011.000000     5.600000    1000.000000
75%         0.0      2015.000000     6.800000    4287.000000
max         0.0      2019.000000     9.400000  310481.000000

In [40]:
# isnull
movie.isnull().sum()

title_x                0
imdb_id                0
poster_path          103
wiki_link              0
title_y                0
original_title         0
is_adult               0
year_of_release        0
runtime                0
genres                 0
imdb_rating            0
imdb_votes             0
story                 20
summary                0
tagline             1072
actors                 5
wins_nominations     922
release_date         107
dtype: int64

In [43]:
# duplicatea
movie.duplicated().sum()

np.int64(0)

In [24]:
print(df_list)
print("\n",df_list.duplicated().sum())

           Marks Result
Name
harsh         83   pass
adi           30   fail
matoshree     70   pass
luv           28   fail
harsh         83   pass

 1

In [25]:
# rename
df_list.rename(columns={"Marks":"Percent","Result":"Results"},inplace=True)

In [26]:
df_list

           Percent Results
Name
harsh           83    pass
adi             30    fail
matoshree       70    pass
luv             28    fail
harsh           83    pass

## Math Method

In [29]:
# sum / axis argument
movie.sum(numeric_only = True) # by default axis = 0 {columns}

is_adult                 0.0
year_of_release    3274720.0
imdb_rating           9053.1
imdb_votes         8770965.0
dtype: float64

In [30]:
movie.sum(numeric_only=True, axis=1)

0       37139.4
1        2096.1
2        7574.1
3        3916.0
4        2305.3
         ...
1624     2283.9
1625     2137.0
1626     2037.1
1627     2064.4
1628     4988.0
Length: 1629, dtype: float64

In [31]:
print(df_list)
df_list.sum(numeric_only=True, axis=0)

           Percent Results
Name
harsh           83    pass
adi             30    fail
matoshree       70    pass
luv             28    fail
harsh           83    pass

Percent    294
dtype: int64

In [32]:

df_list.sum(numeric_only=True, axis=1)

Name
harsh        83
adi          30
matoshree    70
luv          28
harsh        83
dtype: int64

In [33]:
# min
df_list.min()
# df_list.min(numeric_only=True,axis=1)

Percent      28
Results    fail
dtype: object

In [34]:
# max
df_list.max()

Percent      83
Results    pass
dtype: object

In [35]:
# mean
df_list.mean(numeric_only=True)

Percent    58.8
dtype: float64

In [36]:
# median
df_list.median(numeric_only=True)

Percent    70.0
dtype: float64

In [37]:
# mode
df_list.mode()

   Percent Results
0       83    pass

In [38]:
# std
df_list.std(numeric_only=True)

Percent    27.72544
dtype: float64

In [39]:
# var
df_list.var(numeric_only=True)

Percent    768.7
dtype: float64

## Selecting cols from a DataFrame

In [40]:
# single cols
movie["title_x"]

0                   Uri: The Surgical Strike
1                              Battalion 609
2       The Accidental Prime Minister (film)
3                            Why Cheat India
4                            Evening Shadows
                        ...
1624                   Tera Mera Saath Rahen
1625                    Yeh Zindagi Ka Safar
1626                         Sabse Bada Sukh
1627                                   Daaka
1628                                Humsafar
Name: title_x, Length: 1629, dtype: object

In [41]:
ipl["WinningTeam"]

0                   Gujarat Titans
1                 Rajasthan Royals
2      Royal Challengers Bangalore
3                   Gujarat Titans
4                     Punjab Kings
                  ...
945          Kolkata Knight Riders
946    Royal Challengers Bangalore
947               Delhi Daredevils
948            Chennai Super Kings
949          Kolkata Knight Riders
Name: WinningTeam, Length: 950, dtype: object

In [42]:
#multiple cols
ipl[["Team1","Team2","WinningTeam"]]

,Team1,Team2,WinningTeam
0,Rajasthan Royals,Gujarat Titans,Gujarat Titans
1,Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals
2,Royal Challengers Bangalore,Lucknow Super Giants,Royal Challengers Bangalore
3,Rajasthan Royals,Gujarat Titans,Gujarat Titans
4,Sunrisers Hyderabad,Punjab Kings,Punjab Kings
...,...,...,...
945,Kolkata Knight Riders,Deccan Chargers,Kolkata Knight Riders
946,Mumbai Indians,Royal Challengers Bangalore,Royal Challengers Bangalore
947,Delhi Daredevils,Rajasthan Royals,Delhi Daredevils
948,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings
949,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders

## Selecting rows from a DataFrame

In [43]:
# iloc
df_list.iloc[0]

Percent      83
Results    pass
Name: harsh, dtype: object

In [44]:
df_list.iloc[1:]

           Percent Results
Name
adi             30    fail
matoshree       70    pass
luv             28    fail
harsh           83    pass

In [45]:
# loc // this includes the stoping value
stu = {
    "name" : ["harsh","mato","ayush","mihir","ncc"],
    "iq" : [90,100,121,85,94],
    "marks" : [93,99,80,73,93],
    "package" : [10,20,21,9,8]
}
student = pd.DataFrame(stu)
student.set_index("name",inplace=True)
student

        iq  marks  package
name
harsh   90     93       10
mato   100     99       20
ayush  121     80       21
mihir   85     73        9
ncc     94     93        8

In [ ]:
student.loc["mato":"mihir"]  # loc includes the last value .. like loc["mato":"mihir"] , in this, mihir is also print. 
# in iloc[]  -> it prints till n-1

In [46]:
# using read_csv
movie.iloc[2]

title_x                          The Accidental Prime Minister (film)
imdb_id                                                     tt6986710
poster_path         https://upload.wikimedia.org/wikipedia/en/thum...
wiki_link           https://en.wikipedia.org/wiki/The_Accidental_P...
title_y                                 The Accidental Prime Minister
original_title                          The Accidental Prime Minister
is_adult                                                            0
year_of_release                                                  2019
runtime                                                           112
genres                                                Biography|Drama
imdb_rating                                                       6.1
imdb_votes                                                       5549
story               Based on the memoir by Indian policy analyst S...
summary             Explores Manmohan Singh's tenure as the Prime ...
tagline                                                           NaN
actors              Anupam Kher|Akshaye Khanna|Aahana Kumra|Atul S...
wins_nominations                                                  NaN
release_date                                    11 January 2019 (USA)
Name: 2, dtype: object

In [47]:
movie.iloc[:2]

,title_x,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date
0,Uri: The Surgical Strike,tt8291224,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Uri:_The_Surgica...,Uri: The Surgical Strike,Uri: The Surgical Strike,0,2019,138,Action|Drama|War,8.4,35112,Divided over five chapters the film chronicle...,Indian army special forces execute a covert op...,NaN,Vicky Kaushal|Paresh Rawal|Mohit Raina|Yami Ga...,4 wins,11 January 2019 (USA)
1,Battalion 609,tt9472208,NaN,https://en.wikipedia.org/wiki/Battalion_609,Battalion 609,Battalion 609,0,2019,131,War,4.1,73,The story revolves around a cricket match betw...,The story of Battalion 609 revolves around a c...,NaN,Vicky Ahuja|Shoaib Ibrahim|Shrikant Kamat|Elen...,NaN,11 January 2019 (India)

In [49]:
# multiple rows

movie.iloc[0:5:2]

,title_x,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date
0,Uri: The Surgical Strike,tt8291224,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Uri:_The_Surgica...,Uri: The Surgical Strike,Uri: The Surgical Strike,0,2019,138,Action|Drama|War,8.4,35112,Divided over five chapters the film chronicle...,Indian army special forces execute a covert op...,NaN,Vicky Kaushal|Paresh Rawal|Mohit Raina|Yami Ga...,4 wins,11 January 2019 (USA)
2,The Accidental Prime Minister (film),tt6986710,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/The_Accidental_P...,The Accidental Prime Minister,The Accidental Prime Minister,0,2019,112,Biography|Drama,6.1,5549,Based on the memoir by Indian policy analyst S...,Explores Manmohan Singh's tenure as the Prime ...,NaN,Anupam Kher|Akshaye Khanna|Aahana Kumra|Atul S...,NaN,11 January 2019 (USA)
4,Evening Shadows,tt6028796,NaN,https://en.wikipedia.org/wiki/Evening_Shadows,Evening Shadows,Evening Shadows,0,2018,102,Drama,7.3,280,While gay rights and marriage equality has bee...,Under the 'Evening Shadows' truth often plays...,NaN,Mona Ambegaonkar|Ananth Narayan Mahadevan|Deva...,17 wins & 1 nomination,11 January 2019 (India)

In [50]:
# fancy indexing
movie.iloc[[0,2,5]]

,title_x,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date
0,Uri: The Surgical Strike,tt8291224,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Uri:_The_Surgica...,Uri: The Surgical Strike,Uri: The Surgical Strike,0,2019,138,Action|Drama|War,8.4,35112,Divided over five chapters the film chronicle...,Indian army special forces execute a covert op...,NaN,Vicky Kaushal|Paresh Rawal|Mohit Raina|Yami Ga...,4 wins,11 January 2019 (USA)
2,The Accidental Prime Minister (film),tt6986710,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/The_Accidental_P...,The Accidental Prime Minister,The Accidental Prime Minister,0,2019,112,Biography|Drama,6.1,5549,Based on the memoir by Indian policy analyst S...,Explores Manmohan Singh's tenure as the Prime ...,NaN,Anupam Kher|Akshaye Khanna|Aahana Kumra|Atul S...,NaN,11 January 2019 (USA)
5,Soni (film),tt6078866,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Soni_(film),Soni,Soni,0,2018,97,Drama,7.2,1595,Soni a young policewoman in Delhi and her su...,While fighting crimes against women in Delhi ...,NaN,Geetika Vidya Ohlyan|Saloni Batra|Vikas Shukla...,3 wins & 5 nominations,18 January 2019 (USA)

## Selecting Both Rows and Columns

In [51]:
ipl.iloc[0:3,0:3]

        ID       City        Date
0  1312200  Ahmedabad  2022-05-29
1  1312199  Ahmedabad  2022-05-27
2  1312198    Kolkata  2022-05-25

In [52]:
ipl.loc[0:2,"ID":"Date"]

        ID       City        Date
0  1312200  Ahmedabad  2022-05-29
1  1312199  Ahmedabad  2022-05-27
2  1312198    Kolkata  2022-05-25

## Filtering a DataFrame

In [53]:
ipl.sample(5)

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
303,1136571,Bengaluru,2018-04-15,2018,11,Rajasthan Royals,Royal Challengers Bangalore,M.Chinnaswamy Stadium,Royal Challengers Bangalore,field,N,Rajasthan Royals,Runs,19.0,NaN,SV Samson,"['AM Rahane', 'DJM Short', 'SV Samson', 'BA St...","['BB McCullum', 'Q de Kock', 'V Kohli', 'AB de...",C Shamshuddin,S Ravi
861,392213,Centurion,2009-05-07,2009,33,Royal Challengers Bangalore,Rajasthan Royals,SuperSport Park,Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,A Singh,"['JH Kallis', 'W Jaffer', 'RV Uthappa', 'R Dra...","['GC Smith', 'NV Ojha', 'LA Carseldine', 'YK P...",K Hariharan,DJ Harper
144,1216537,Abu Dhabi,2020-10-30,2020/21,50,Kings XI Punjab,Rajasthan Royals,Sheikh Zayed Stadium,Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,BA Stokes,"['KL Rahul', 'Mandeep Singh', 'CH Gayle', 'N P...","['RV Uthappa', 'BA Stokes', 'SV Samson', 'SPD ...",CB Gaffaney,S Ravi
790,419150,Jaipur,2010-04-11,2009/10,45,Rajasthan Royals,Mumbai Indians,Sawai Mansingh Stadium,Rajasthan Royals,field,N,Mumbai Indians,Runs,37.0,NaN,SR Tendulkar,"['MJ Lumb', 'NV Ojha', 'FY Fazal', 'SR Watson'...","['ST Jayasuriya', 'SR Tendulkar', 'AT Rayudu',...",BR Doctrove,SK Tarapore
747,501226,Chennai,2011-04-25,2011,29,Chennai Super Kings,Pune Warriors,"MA Chidambaram Stadium, Chepauk",Pune Warriors,field,N,Chennai Super Kings,Runs,25.0,NaN,MEK Hussey,"['M Vijay', 'MEK Hussey', 'SK Raina', 'MS Dhon...","['JD Ryder', 'MD Mishra', 'MK Pandey', 'RV Uth...",Aleem Dar,RB Tiffin

In [54]:
# find all the final winners.
final = ipl[ipl["MatchNumber"] == "Final"]
final[["Season","WinningTeam"]]

      Season            WinningTeam
0       2022         Gujarat Titans
74      2021    Chennai Super Kings
134  2020/21         Mumbai Indians
194     2019         Mumbai Indians
254     2018    Chennai Super Kings
314     2017         Mumbai Indians
373     2016    Sunrisers Hyderabad
433     2015         Mumbai Indians
492     2014  Kolkata Knight Riders
552     2013         Mumbai Indians
628     2012  Kolkata Knight Riders
702     2011    Chennai Super Kings
775  2009/10    Chennai Super Kings
835     2009        Deccan Chargers
892  2007/08       Rajasthan Royals

In [55]:

# in single line
ipl[ipl["MatchNumber"] == "Final"][["Season","WinningTeam"]]

      Season            WinningTeam
0       2022         Gujarat Titans
74      2021    Chennai Super Kings
134  2020/21         Mumbai Indians
194     2019         Mumbai Indians
254     2018    Chennai Super Kings
314     2017         Mumbai Indians
373     2016    Sunrisers Hyderabad
433     2015         Mumbai Indians
492     2014  Kolkata Knight Riders
552     2013         Mumbai Indians
628     2012  Kolkata Knight Riders
702     2011    Chennai Super Kings
775  2009/10    Chennai Super Kings
835     2009        Deccan Chargers
892  2007/08       Rajasthan Royals

In [56]:
# how many super over finishes has occured
ipl[ipl["SuperOver"] == "Y"].shape[0]

14

In [57]:
# how many matches has csk won in kolkata
city = ipl[ipl["City"] == "Kolkata"] 
city[city["WinningTeam"] == "Chennai Super Kings"].shape[0]

# another way.
ipl[(ipl["City"] == "Kolkata") & (ipl["WinningTeam"] == "Chennai Super Kings")].shape[0]

5

In [58]:
# toss winner is match winner in percentage
(ipl[ipl["TossWinner"] == ipl["WinningTeam"]].shape[0]/ipl.shape[0])*100

51.473684210526315

In [59]:
movie.head()

,title_x,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date
0,Uri: The Surgical Strike,tt8291224,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Uri:_The_Surgica...,Uri: The Surgical Strike,Uri: The Surgical Strike,0,2019,138,Action|Drama|War,8.4,35112,Divided over five chapters the film chronicle...,Indian army special forces execute a covert op...,NaN,Vicky Kaushal|Paresh Rawal|Mohit Raina|Yami Ga...,4 wins,11 January 2019 (USA)
1,Battalion 609,tt9472208,NaN,https://en.wikipedia.org/wiki/Battalion_609,Battalion 609,Battalion 609,0,2019,131,War,4.1,73,The story revolves around a cricket match betw...,The story of Battalion 609 revolves around a c...,NaN,Vicky Ahuja|Shoaib Ibrahim|Shrikant Kamat|Elen...,NaN,11 January 2019 (India)
2,The Accidental Prime Minister (film),tt6986710,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/The_Accidental_P...,The Accidental Prime Minister,The Accidental Prime Minister,0,2019,112,Biography|Drama,6.1,5549,Based on the memoir by Indian policy analyst S...,Explores Manmohan Singh's tenure as the Prime ...,NaN,Anupam Kher|Akshaye Khanna|Aahana Kumra|Atul S...,NaN,11 January 2019 (USA)
3,Why Cheat India,tt8108208,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Why_Cheat_India,Why Cheat India,Why Cheat India,0,2019,121,Crime|Drama,6.0,1891,The movie focuses on existing malpractices in ...,The movie focuses on existing malpractices in ...,NaN,Emraan Hashmi|Shreya Dhanwanthary|Snighdadeep ...,NaN,18 January 2019 (USA)
4,Evening Shadows,tt6028796,NaN,https://en.wikipedia.org/wiki/Evening_Shadows,Evening Shadows,Evening Shadows,0,2018,102,Drama,7.3,280,While gay rights and marriage equality has bee...,Under the 'Evening Shadows' truth often plays...,NaN,Mona Ambegaonkar|Ananth Narayan Mahadevan|Deva...,17 wins & 1 nomination,11 January 2019 (India)

In [60]:
# movies with rating higher than 8 and votes > 10000
movie[(movie["imdb_rating"] > 8) & (movie["imdb_votes"] > 10000)].shape[0]

43

In [61]:
# Action movies with rating higher than 7.5
movie[(movie["genres"].str.split("|").apply(lambda x: "Action" in x)) & (movie["imdb_rating"] > 7.5)].shape[0]

# another way.
movie[(movie["genres"].str.contains("Action")) & (movie["imdb_rating"] > 7.5)].shape[0]

33

In [62]:
# Write a function that can return the track record of 2 teams against each other.
def fun(team1,team2):
    match_bet = ipl[(ipl["Team1"] == team1) & (ipl["Team2"]== team2)]
    total_match = match_bet["WinningTeam"]
    
    # rcb_wins = total_match.values == "Royal Challengers Bangalore"
    # csk_wins = total_match.values == "Chennai Super Kings"
    # print("Percentage of winnig rcb against csk", (rcb_wins.sum()/total_match.size)*100)
    # print("Percentage of winnig csk against rcb", (csk_wins.sum()/total_match.size)*100)

    team1_wins = total_match.values == team1
    team2_wins = total_match.values == team2
    print("Percentage of winnig team1 against team2", (team1_wins.sum()/total_match.size)*100)
    print("Percentage of winnig team2 against team1", (team2_wins.sum()/total_match.size)*100)

team1 = "Sunrisers Hyderabad"
team2 = "Punjab Kings"
print("Team 1 = ",team1)
print("Team 2 = ",team2)
fun(team1,team2)

Team 1 =  Sunrisers Hyderabad
Team 2 =  Punjab Kings
Percentage of winnig team1 against team2 0.0
Percentage of winnig team2 against team1 100.0

In [63]:
ipl[((ipl["Team1"] == "Sunrisers Hyderabad") & (ipl["Team2"] == "Punjab Kings")) | ((ipl["Team2"] == "Sunrisers Hyderabad") & (ipl["Team1"] == "Punjab Kings"))]

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,N,Punjab Kings,Wickets,5.0,NaN,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan
46,1304074,Mumbai,2022-04-17,2022,28,Punjab Kings,Sunrisers Hyderabad,"Dr DY Patil Sports Academy, Mumbai",Sunrisers Hyderabad,field,N,Sunrisers Hyderabad,Wickets,7.0,NaN,Umran Malik,"['S Dhawan', 'P Simran Singh', 'JM Bairstow', ...","['Abhishek Sharma', 'KS Williamson', 'RA Tripa...",PG Pathak,R Pandit
98,1254107,Sharjah,2021-09-25,2021,37,Punjab Kings,Sunrisers Hyderabad,Sharjah Cricket Stadium,Sunrisers Hyderabad,field,N,Punjab Kings,Runs,5.0,NaN,JO Holder,"['KL Rahul', 'MA Agarwal', 'CH Gayle', 'AK Mar...","['DA Warner', 'WP Saha', 'KS Williamson', 'MK ...",RK Illingworth,YC Barde
120,1254071,Chennai,2021-04-21,2021,14,Punjab Kings,Sunrisers Hyderabad,"MA Chidambaram Stadium, Chepauk, Chennai",Punjab Kings,bat,N,Sunrisers Hyderabad,Wickets,9.0,NaN,JM Bairstow,"['KL Rahul', 'MA Agarwal', 'CH Gayle', 'N Poor...","['DA Warner', 'JM Bairstow', 'KS Williamson', ...",K Srinivasan,Nitin Menon

In [64]:
def fun(team1,team2):
    match_bet1 = ipl[(ipl["Team1"] == team1) & (ipl["Team2"]== team2)]
    match_bet2 = ipl[(ipl["Team1"] == team2) & (ipl["Team2"]== team1)]
    total_match1 = match_bet1["WinningTeam"]
    print(total_match1)

    
    # rcb_wins = total_match.values == "Royal Challengers Bangalore"
    # csk_wins = total_match.values == "Chennai Super Kings"
    # print("Percentage of winnig rcb against csk", (rcb_wins.sum()/total_match.size)*100)
    # print("Percentage of winnig csk against rcb", (csk_wins.sum()/total_match.size)*100)

    # team1_wins = total_match.values == team1
    # team2_wins = total_match.values == team2
    # print("Percentage of winnig team1 against team2", (team1_wins.sum()/total_match.size)*100)
    # print("Percentage of winnig team2 against team1", (team2_wins.sum()/total_match.size)*100)

team1 = "Sunrisers Hyderabad"
team2 = "Punjab Kings"
print("Team 1 = ",team1)
print("Team 2 = ",team2)
fun(team1,team2)

Team 1 =  Sunrisers Hyderabad
Team 2 =  Punjab Kings
4    Punjab Kings
Name: WinningTeam, dtype: object